<div class="header row"><!-- Begin Header -->
  
  <div class="">
    <!-- Left Logo
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="span5 logo">
      <%= link_to "DUTRA", root_path %>
    </div>
    
    <!-- Main Navigation
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="span7 navigation pull-right">
      <div class="navbar pull-right">
	
	<ul class="nav">
	  <li><%= header_link_to "home" %></li>
	  <li><%= header_link_to "projects" %></li>
	  <li><%= header_link_to "albums" %></li>
	  <li><%= header_link_to "hobbies" %></li>
	  <li> <%= link_to "Resume", '#' %></li>
	  <li><%= link_to "Contact", '#' %></li>
	</ul>
	
      </div>
    </div> 
  </div><!-- End Main Navigation -->

</div><!-- End Header -->
