<div class="header row"><!-- Begin Header -->
  
  <div class="">
    <!-- Left Logo
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="span6 logo">
      <%= link_to "DUTRA", root_path %>
    </div>
    
    <!-- Main Navigation
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="span6 navigation pull-right">
      <div class="navbar pull-right">
	
	<ul class="nav">
	  <li><%= link_to "Home", '#' %></li>
	  <li><%= link_to "Projects", '#' %></li>
	  <li><%= header_link_to 'albums' %></li>
	  <li><%= header_link_to 'hobbies' %></li>
	  <li><%= link_to "Contact", '#' %></li>
	</ul>
	
      </div>
    </div> 
  </div><!-- End Main Navigation -->

</div><!-- End Header -->
