<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
  <%= render 'layouts/shim' %>
</head>
<body>
  <container>

    <div class="row">
      <%= yield %>
    </div>
    
    <div class="span11 centered-box">
      <%= debug(params) if Rails.env.development? %>
    </div>

  </container>
  

</body>

</html>
